/*for everything to be like this 
*{
    margin: 0;
    padding: 0;
} */
body {
  background-color: #abcdef;
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  /* Same as above
  font: bold 12px bisque Arial, Helvetica, sans-serif; */

  line-height: 1.6em;
  margin:0;

}
.clr{
    clear:both
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color:green;
}
a:active{
    color:red
}
a:visited{
    color:white
}
.cantik{
    background-color: #333333;
    color: red;
}
.container{
    margin: auto;
    width: 80%;
    border: 10px pink solid;
    border-bottom-style: dotted;

    padding: 20px;
    margin: 20px 0;
}
.button{
    background-color: yellow;
    padding: 10px 15px;
    border: none;
}
.cantik p {
    font-family: Tahoma;
    font-weight: 800;
    font-size:15px;
    font-style: italic;
    text-decoration: underline;
    text-transform:lowercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}
.cantik2 {
    border: 3px dotted black;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    color:green;

}
.categories{
    border: 1px grey solid;
    padding: 10px;
    border-radius: 15px;
    color: black;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding:0;
    list-style: none;
}
.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    padding-left: 30px;

}
.my-form{
    padding:20px;
    border: 12px #333 solid;
}
.my-form .form-group{
    padding-bottom:10px;
}
.my-form label{
    display:block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
.block{
    float: left;
    width:33%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing: border-box;

}
#mainblock{
    float:left;
    width:30%;
    color: black;

}
#sidebar{
    float:right;
    width: 70%;
    padding: 10px;
    border: 1px;
    box-sizing: border-box;
    background-color: #333;

}
.p-box{
    width: 800px;
    height:500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url(../images/d.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
.p-box h1{
    position: absolute;
    top:100px;
    left:20px;
}
.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background-color: blue;
}
.my-list li:nth-child(even){
    background: grey;
}